
#sticky{
    position: fixed ;
    top: -0.5em;
    max-width: 680px;
    width: 100%;
    height:4em;
    background-color: #2a405e;
    z-index: 9999999;
    color:white;

}





#sticky img{
    position: relative !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 10em;
    top:-1.2em;

}

#sticky2{

top:0.5em;
    width: 100%;
    height: 0.6em;
    background-color: #35def8;
    position: relative;
    z-index: 999999;
    color: black;

}

.main_content {

    background-color: white;
    height: 100%;

}

.main_content_area{
position:relative;
/* top: 0em; */
/* line-height: 0em; */

}


.btn_style1{

position: relative;
display: flex;
justify-content: space-around;


}



.addContact_row{

    position: relative;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(249, 247, 247);
}

#qrcode{
position: relative;
    display: flex;

    justify-content: center;
}

#qrcode img{
    position: relative;
align-items: center;
    width:10em;
}

#contact_left,#contact_right{
    z-index: 999;
}
